body
{
    background-color: lightgray;
    margin: 0px;
}

/*titel*/
header
{
    /*tekst opmaak*/
    text-align: left;
    font-family: "Bookman Old Style";
    color: white;
    font-size: 2em;
    /*achtergrond*/
    background-color: darkred;
}

/*opdrachten structuur*/
aside
{
    /*groote*/
    width: 3%;
    /*achtergrond*/
    background-color: darkred;
}

h2
{
    background-color: beige;
}

/*opdrachten links*/
li
{
    /*tekst opmaak*/
    color: white;
    font-size: 2em;
}
